*                               { margin: 0; padding: 0; }
body                            { font: 12px "Lucida Grande", Sans-Serif; background:lightblue }
h1
{
  	background:linear-gradient(to right,white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
    padding-left: 42.5%;
    margin:0;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 90px;
}
h2                              { 
    background:linear-gradient(to right,white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
    padding-left: 42%;
    margin:0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0,-105.5%);
	height: 35px;
}

/*header
{
    background:blue;
    color:aqua;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom:30;
    padding-left: 10%;
    margin:0;
	transform: translate(0,-150%);
}*/

nav ul li
{
	display: inline;
	font-weight: 20px;
	font-size: 20px;
	font-family:  arial;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 30px;
	padding-bottom: 0px;
	padding-left: 00px;
	list-style-type: none;
}
nav ul 
{
	display: inline;
	padding-left: 0;
	float: left;
}
nav ul li a
{
	color:white;
	text-decoration: none;
}
#nav
{
	font-family: 'montserrat',sans-serif;
}
.home
{
	background-color:navy;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 30px;
}
.tar:hover
{
    background-color: blue;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
   
}
.divider
{
	background-color: blue;
	height: 2px;
	transform: translate(0,-2100%);

}
.slider{
    background-image:url('backpic.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:0%;
    padding: 10px;
    margin:0;
	transform: translate(1,1.14);

}
.choice
{
	background-color: navy;
	
}
/*.heading
{
	width: 50%;
	height: 54px;
	margin-top: -54px;
	margin-left: 380px;
	text-align: center;
	background: cornflowerblue;
	border: 2px solid navy;
	border-radius: 20px;
}*/
.pkpk
{
	font-size: 30px;
	padding-right: 20px;
	color: white;
	transform: translate(0, -43.5px);
}



#page-wrap                      { width: 600px; margin: 50px auto; position:bottom; }

#chat-wrap                      { border: 1px solid #eee; margin: 0 0 15px 0; }
#chat-area                      { height: 300px; overflow: auto; border: 1px solid #666; padding: 20px; background: white; }
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#name-area                      { position: absolute; top: 12px; right: 50; color: rgb(24, 13, 13); font: bold 12px "Lucida Grande", Sans-Serif; text-align:middle; }   
#name-area span                 { color: #fa9f00; }

#send-message-area p            { float: left; color:black; padding-top: 0px; font-size: 20px; }
#sendie                         { border: 3px solid #999; width: 360px; padding: 10px; font: 12px "Lucida Grande", Sans-Serif; float: right; }