body
{
	
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 100px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 55px;
}
header
{
	background: blue;
	color: aqua;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 10px;
	height: 10px;
	transform: translate(0,-104px);
}
h3
{
	
	color:navy;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 45%;
	margin: 0;
	font-size: 35px;
	background-size: 100% 100%;
	transform: translate(0, -105.5%);
	height: 25px;
}
p 
{

	color:rgba(17, 1, 1, 0.897);
	display:-moz-box;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 100;
	text-align: center;
	font-size: 30px;
}
.back
{
	height: 400px;
	transform: translate(0, -18%);
	background-size: 100% 100%;
	
}

nav ul li
{
	display: inline;
	font-weight: 20px;
	font-size: 14px;
	font-family:  arial;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 30px;
	padding-bottom: 0px;
	padding-left: 00px;
	list-style-type: none;
}
nav ul 
{
	display: inline;
	padding-left: 0;
	float: left;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}
#nav
{
	font-family: 'montserrat',sans-serif;
}
.home
{
	background-color: blue;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 30px;
}
.tar:hover
{
    background-color: blue;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
   
}
.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-2090%);

}
