body
{
	margin: 0;
	margin-top: 0;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 100px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 55px;
}

.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-2100%);

}
.choice
{
	background-color: navy;
	
}
.heading
{
	width: 50%;
	height: 64px;
	margin-top: -54px;
	margin-left: 380px;
	text-align: center;
	background: cornflowerblue;
	border: 2px solid navy;
	border-radius: 20px;
	padding-top: 30px;
	transform: translate(0, 80%);
}
.pkpk
{
	font-size: 30px;
	padding-right: 20px;
	padding-top: 80px;
	color: white;
}
p
{
	margin-top: -10px;
}
