body
{
	margin: 0;
	margin-top: 0;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 100px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 55px;
}
header
{
	background: blue;
	color: aqua;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 10px;
	height: 10px;
	transform: translate(0,-103px);
}
nav ul li
{
	display: inline;
	font-weight: 30px;
	font-size: 12px;
	font-family:  arial;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 30px;
	padding-bottom: 0px;
	padding-left: 00px;
	list-style-type: none;
}
nav ul 
{
	display: inline;
	padding-left: 0;
	float: left;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}
#nav
{
	font-family: 'montserrat',sans-serif;
}
.home
{
	background-color: transparent;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 30px;
}

.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-2100%);

}
.choice
{
	background-color: navy;
	
}
.heading
{
	width: 50%;
	height: 54px;
	margin-top: -54px;
	margin-left: 380px;
	text-align: center;
	background: cornflowerblue;
	border: 2px solid navy;
	border-radius: 20px;
}
.pkpk
{
	font-size: 30px;
	padding-right: 20px;
	color: white;
	transform: translate(0, -43.5px);
}

.f
{
	color: navy;
	margin-top: -4px;
	margin-left: 280px;
	font-size: 27px;
	font-style: bold;
}
.ad
{
	color: navy;
	transform: translate(0, -30px);
	margin-left: 260px;
	font-size: 27px;
	font-style: bold;
}
.iss
{
	color: navy;
	margin-left: 310px;
	transform: translate(0, -30px);
	font-size: 27px;
	font-style: bold;
}
.task_input1
{
	width: 65%;
	margin-left: 90px;
	padding: 5px;
	transform: translate(0, -90%);
}
.task_input2
{
	width: 65%;
	margin-left: 90px;
	padding: 5px;
	transform: translate(0, -200%);
}
.task_input3
{
	width: 65%;
	margin-left: 90px;
	padding: 5px;
	transform: translate(0, -200%);
}
.add_btn1 
{
	height: 32px;
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 600px;
	transform: translate(0, -175%);
}
.add_btn2 
{
	height: 32px;
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 600px;
	transform: translate(0, -265%);
}
.add_btn3 
{
	height: 32px;
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 600px;
	transform: translate(0, -265%);
}
form 
{
	width: 50%; 
	margin-top: 100px ; 
	margin-left: 340px ;
	margin-right: 30px ;
	margin-bottom: 10px ;
	border-radius: 5px; 
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 60px;
	height: 82px;
	background: linear-gradient(to right, steelblue,white,steelblue,white,steelblue);
	border: 1px solid navy;
}
table 
{
    width: 50%;
    margin-left: 385px;
    border-collapse: collapse;
}

tr 
{
	border-bottom: 1px solid black;
}
th 
{
	color: black;
}
td
{
	font-size: 20px;
	color: black;
}
.title1 th, td
{
	border: none;
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
}
.attri1 th, td
{
	border: none;
    height: 30px;
    padding-left: 172px;
}
.title2 th, td
{
	border: none;
    height: 40px;
    font-size: 20px;

    padding-left: 25px;
}
.attri2 th, td
{
	border: none;
    height: 30px;
    padding-left: 190px;
}
.title3 th, td
{
	border: none;
    height: 40px;
    font-size: 20px;

    padding-right: 25px;
}
.attri3 th, td
{
	border: none;
    height: 30px;
    padding-left: 172px;
}
.tud
{
	margin-top: 20px;
	height: 82px;
}
::placeholder
{
	text-align: center;
}
.delete
{
	text-align: center;
}
.del_a
{
	color: white;
	background: red;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 3px;
	margin-left: 10px;
	text-decoration: none;
	transform: translate(12%, 0);
}