body
{
	margin: 0;
	margin-top: 0;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 100px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 55px;
}
header
{
	background: blue;
	color: aqua;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 10px;
	height: 10px;
	transform: translate(0,-105px);
}
nav ul li
{
	display: inline;
	font-weight: 30px;
	font-size: 12px;
	font-family:  arial;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 30px;
	padding-bottom: 0px;
	padding-left: 00px;
	list-style-type: none;
}
nav ul 
{
	display: inline;
	padding-left: 0;
	float: left;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}
#nav
{
	font-family: 'montserrat',sans-serif;
}
.home
{
	background-color: transparent;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 30px;
}
.tar:hover
{
    background-color: blue;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
   
}
.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-2100%);

}
.choice
{
	background-color: navy;
	
}
.heading
{
	width: 50%;
	height: 54px;
	margin-top: -54px;
	margin-left: 380px;
	text-align: center;
	background: cornflowerblue;
	border: 2px solid navy;
	border-radius: 20px;
}
.pkpk
{
	font-size: 30px;
	padding-right: 20px;
	color: white;
	transform: translate(0, -43.5px);
}



form 
{
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 60px;
	height: 60px;
	background: linear-gradient(to right, steelblue,white,steelblue,white,steelblue);
	border: 1px solid navy;
}
form p 
{
	color: black;
	margin: 0px;
}
.task_input1 
{
	width: 65%;
	height: 15px; 
	padding: 10px;
	border: 2px solid navy;
	margin-left: 25px;
	transform: translate(0, 10%);
}

.add_btn 
{
	height: 39px;
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding: 5px 20px;
	margin-left: 600px;
	transform: translate(0, -90%);
}

table 
{
    width: 50%;
    margin-left: 385px;
    border-collapse: collapse;
}

tr 
{
	border-bottom: 1px solid black;
}
th 
{
	font-size: 20px;
	color: black;
}
td
{
	font-size: 20px;
	color: black;
}
.title th, td
{
	border: none;
    height: 30px;
    padding-left: 20px;
}
.attri th, td
{
	border: none;
    height: 30px;
    padding-left: 172px;
}

.task 
{
	text-align: left;
}
.pro p
{
	padding-top: 10px;
	font-weight: bold;
	color: navy;
}
.pname
{
	margin: 5px;
	transform: translate(4%, 0);
	font-size: 20px;
}
::placeholder
{
	text-align: center;
}