body
{
	margin: 0;
	padding: 0;
	background: cornflowerblue;
	background-size: cover;
	font-family: arial;
}
.loginbox
{
	position: absolute;
	top: 55%;
	left: 50%;
	width: 180px;
	height: 320px;
	padding: 80px ;
	background: rgba(0,0,0,0.1);
	transform: translate(-50%,-50%);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	top: calc(-55px);
	left: calc(115px);
}
h2
{
	margin: 0;
	padding-bottom: 20px;
	color: navy;
	font-size: 30px;
	text-align: center;
}
.loginbox p
{
	margin-top: 19px;
	margin-bottom: 9px;
	margin-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	color: white;
	font-size: 16.5px;
}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px;

}
.loginbox input[type="text"],.loginbox input[type="password"]
{
	border: none;
	border-bottom: 2px solid black;
	background: transparent;
	outline: none;
	height: 30px;
	width: 175px;
	color: white;
	font-size: 15px;
}
::placeholder
{
	color: rgba(0,0,0,.5);
	font-size: 15px;
	background-color: transparent;
	text-align: center;
}

.loginbox input[type="submit"]
{
	border: none;  
	outline: none;
	height: 30px;
	color: white;
	width: 180px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 18px;
	background-color: steelblue;
	cursor: pointer;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	background: blue;
	color: black;
}
.loginbox a
{
	color: blue;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	padding-left: 45px;
	text-decoration: underline;

}
