body
{
	margin: 10px;
    background: cornflowerblue;
	background-size: 100% 100% ;
	font-family: arial;
	background-repeat: no-repeat;
}
.signin 
{
	position: absolute;
	top: 55%;
	left: 50%;
	width: 300px;
	height: 460px;
	padding: 80px ;
	background: rgba(0,0,0,0.1);
	transform: translate(-50%,-50%);
}

.signin  p
{
	margin: 5px;
	padding-top: 10px;
	font-weight: bold;
	color: white;
}
.signin input
{
	width: 100%;
	margin-bottom: 20px;
}
.signin input[type="text"],.signin input[type="tel"],.signin input[type="password"]
{
	border: none;
	border-bottom: 2px solid black;
	background: transparent;
	outline: none;
	height: 30px;
	width: 300px;
	color: white;
	font-size: 15px;
}
.signin input[type="radio"]
{
	border: none;
	background: transparent;
	outline: none;
	height: 15px;
	width: 15px;
	color: white;
	
}
::placeholder
{
	color: rgba(0,0,0,.5);
	font-size: 15px;
	background-color: transparent;
}
.signin  input[type="submit"]
{
	border: none;  
	outline: none;
	height: 30px;
	color: white;
	width: 180px;
	font-size: 18px;
	background-color: steelblue;
	cursor: pointer;
	border-radius: 20px;
	margin-top: -30px;
}
.signin  input[type="submit"]:hover
{
	background: blue;
	color: black;
}
