body
{
	margin-top: 0;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 100px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 41.8%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 55px;
}
.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-2100%);

}
.choice
{
	background-color: navy;
	
}

.heading
{
	width: 50%;
	height: 54px;
	margin-top: -54px;
	margin-left: 380px;
	text-align: center;
	color: 	White;
	background: cornflowerblue;
	border: 2px solid navy;
	border-radius: 20px;
	font-size: 20px;
}
.pkpk
{
	margin-top: 14px;
}
.hello form
{

}
form 
{
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 60px;
	height: 168px;
	background: linear-gradient(to right, steelblue,white,steelblue,white,steelblue);
	border: 1px solid navy;
}
form p 
{
	color: black;
	margin: 0px;
}
.pro_btn
{
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding: 10px;
}
.probtn
{
	transform: translate(0, -820%);
	margin-left: 1250px;
}
.task_input1 
{
	width: 25%;
	height: 15px; 
	padding: 10px;
	border: 2px solid navy;
	margin-left: -15px;
	transform: translate(0, 6%);
}
.task_input2 
{
	width: 25%;
	height: 15px; 
	padding: 10px;
	border: 2px solid navy;
	margin-left: 251px;
	transform: translate(0, -207%);
}
.task_input3
{
	width: 25%;
	height: 15px; 
	padding: 10px;
	border: 2px solid navy;
	margin-left: 510px;
	transform: translate(0, -420%);
}
.add_btn 
{
	height: 39px;
	background: blue;
	color: 	white;
	border: 2px solid navy;
	border-radius: 5px; 
	padding: 5px 20px;
	transform: translate(270%, -360%);
}

table 
{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

 tr 
{
	border-bottom: 1px solid black;
}
th 
{
	font-size: 20px;
	color: black;
}
td
{
	font-size: 20px;
	color: black;
}
.title th, td
{
	border: none;
    height: 30px;
    padding-left: 25px;
}
.attri th, td
{
	border: none;
    height: 30px;
    padding-left: 158px;
}

.task 
{
	text-align: left;
}
.pro p
{
	padding-top: 10px;
	font-weight: bold;
	color: navy;
}
.pname
{
	margin: 5px;
	transform: translate(4%, 0);
	font-size: 20px;
}
.tlead
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 300px;
	transform: translate(0, -243%);
	font-size: 20px;
}
.propass
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 545px;
	transform: translate(0, -487%);
	font-size: 20px;
}
::placeholder
{
	text-align: center;
}

