<!DOCTYPE html>
<html>
<head>
	<title>Buddy</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='result.css')}}">
	<link rel="icon" href="logo.png.jpg">
</head>
<body>
  <h1>BUDDY</h1>
  <h2>Do Your Task Perfectly</h2> 
	<div class="divider"></div>
  <div class="set">
         <style type="text/css">
          .h3
          {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: -20px;
            margin-top: 10%;
            margin-bottom: -25%;
            color: navy;
            font-size: 30px;
            transform: translate(0, -300.5%);
            text-align: center;

        </style>
        <form action="{{ url_for('predict')}}" method="POST"">
        <div class="pred">{{prediction_text}}</div>
        <div class="purbasa">
          <h3>RECOMMENDED TECHNICAL SKILLS</h3>
        </div>
        <div class="deepa">
            <br>
            <div class="text">
            <p>Coding And Programming:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/jAx3c3OMkmI">"https://www.youtube.com/embed/jAx3c3OMkmI"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Project Management:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/JIKyxfZrsx4">"https://www.youtube.com/embed/JIKyxfZrsx4"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Technical Writing:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/9SB4tfD0hxM">"https://www.youtube.com/embed/9SB4tfD0hxM"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Big Data Analysis:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/k7zu3NXEiGY">"https://www.youtube.com/embed/k7zu3NXEiGY"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Social Media Management:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/5dyn03RSWVA">"https://www.youtube.com/embed/5dyn03RSWVA"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Digital Management:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/gJtlfsXSa2A">"https://www.youtube.com/embed/gJtlfsXSa2A"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Database Management:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/ztHopE5Wnpc">"https://www.youtube.com/embed/ztHopE5Wnpc"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Inventory Management:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/2n9NLZTIlz8">"https://www.youtube.com/embed/2n9NLZTIlz8"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Blueprint Design:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/L61HWa2Je8M">"https://www.youtube.com/embed/L61HWa2Je8M"</a>
            </div>
            </br>
            <br>
            <div class="text">
            <p>Artificial Intelligence:</p>
            </div>
            <div class="link">
            <a href="https://www.youtube.com/embed/JMUxmLyrhSk">"https://www.youtube.com/embed/JMUxmLyrhSk"</a>
            </div>
            </br>
        </div>
               
        </form>
  </div>
</body>
</html>