<!DOCTYPE html>
<html>
<head>
	<title>Buddy</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='skillform.css')}}">
	<link rel="icon" href="logo.png.jpg">
</head>
<body>
  <h1>BUDDY</h1>
  <h2>Do Your Task Perfectly</h2> 
	<div class="divider"></div>
  <div class="set">
         <style type="text/css">
          .h3
          {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: -20px;
            margin-top: 10%;
            margin-bottom: -25%;
            color: navy;
            font-size: 30px;
            transform: translate(0, -300.5%);
            text-align: center;
     </style>
    <h3 class="h3">TECHNICAL-SKILLS</h3>
        <form action="{{ url_for('predict')}}" method="POST"">
        <div class="pl">
         <input type="checkbox" value="Coding And Programming" name="f"></input>Coding And Programming
                <br/>
                <br/>
                <input type="checkbox" value="Project Management" name="f"></input>Project Management
                <br/>
                <br/>
                <input type="checkbox" value="Technical Writing" name="f"></input>Technical Writing
                <br/>
                <br/>
                <input type="checkbox" value="Big Data Analysis" name="f"></input>Big Data Analysis
                <br/>
                <br/>
                <input type="checkbox" value="Social Media Management" name="f"></input>Social Media Management
                <br/>
                <br/>
                <input type="checkbox" value="Digital Management" name="f"></input>Digital Management
                <br/>
                <br/>
                <input type="checkbox" value="Database Management" name="f"></input>Database Management
                <br/>
                <br/>
                <input type="checkbox" value="Inventory Management" name="f"></input>Inventory Management
                <br/>
                <br/>
                <input type="checkbox" value="Blueprint Design" name="f"></input>Blueprint Design
                <br/>
                <br/>
                <input type="checkbox" value="Artificial Intelligence" name="f"></input>Artificial Intelligence
        </div>
          <br/>
          <center><input type="submit" name="k" value="SUBMIT"></input></center>
        </form>
  </div>
</body>
</html>