body
{
	margin: 0;
	margin-top: 0;
}
h1
{
	background: navy;
	color: white;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 42.5%;
	margin: 0;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 81px;
}
h2
{
	background: navy;
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin: 0;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -105.5%);
	height: 35px;
}
header
{
	background: blue;
	color: aqua;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 10px;
	height: 10px;
	transform: translate(0,-40px);
}
nav ul li
{
	display: inline;
	font-weight: 20px;
	font-size: 14px;
	font-family:  arial;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 30px;
	padding-bottom: 0px;
	padding-left: 00px;
	list-style-type: none;
}
nav ul 
{
	display: inline;
	padding-left: 0;
	float: left;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}
#nav
{
	font-family: 'montserrat',sans-serif;
}
.home
{
	background-color: blue;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 30px;
}
.tar:hover
{
    background-color: blue;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
   
}
.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-800%);

}
.slider
{

	background-image: url('backpic.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 0%;
	margin: 0;
	padding: 10px;
	transform: scale(1,1.14);
	
}
