body
{
	margin: 0px;
    background: white;
	background-size: 100% 100% ;
	font-family: arial;
	background-repeat: no-repeat;
}
h1
{
  	background-image: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	padding-left: 42.5%;
	font-size: 54px;
	background-size: 100% 100%;
	transform: translate(0,-21.5%);
	height: 60px;
}
h2
{
	background: linear-gradient(to right, white,blue,white);
	color: white;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 42%;
	margin-top: 30px;
	font-size: 22px;
	background-size: 100% 100%;
	transform: translate(0, -185.5%);
	height: 35px;
}
.divider
{
	background-color: blue;
	height: 5px;
	transform: translate(0,-1800%);
	padding-left: 10px;
}
.choice
{
	background-color: navy;
	
}
.pl
{
	margin-top: 135px;
	padding-right: 200px;
	margin-left: 83px;
}
.as
{
	margin-top: -363.5px;
	margin-left: 570px;
}
.set
{
	position: absolute;
	width: 900px;
	height: 460px;
	padding: 20px ;
	padding-top: 30px;
	background: rgba(0,0,0,0.2);
	left: 280px;
	top: 150px;
}

.set input[type="checkbox"]
{
	border: none;
	background: transparent;
	outline: none;
	height: 15px;
	width: 15px;
	color: white;
	padding-right: 200px;
	margin-right: 30px;
	margin-left: 40px;
}
.f
{
	margin-right: -200px;	
}
.set  input[type="submit"]
{
	border: none;  
	outline: none;
	height: 30px;
	color: white;
	width: 180px;
	font-size: 18px;
	background-color: steelblue;
	cursor: pointer;
	border-radius: 20px;
	margin-top: -30px;
}
.set  input[type="submit"]:hover
{
	background: blue;
	color: black;
}